asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-env
django-environ
django-jazzmin
idna
oauthlib
Pillow
psycopg2
pycparser==2.21
PyJWT==2.7.0
python-dotenv
python-slugify
python3-openid
requests
requests-oauthlib
sqlparse
text-unidecode
typing_extensions
tzdata
urllib3
