{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'parts/header.html' %}
  <!-- End Header -->
  <section class="landing pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 contents">
          <div class="content overflow-hidden rounded-10 position-relative t-duration active">
            <img src="{{fgame.banner.url}}" alt="Image" class="w-100 h-100 obj-cover">
            <div class="position-absolute h-100 bottom-0 px-4 pe-md-0 ms-1 card-landing d-flex flex-column justify-content-center">
              <img src="{{fgame.bannerLogo.url}}" alt="Image" class="mb-5 w-10 mt-3">
              <p class="m-0 mb-2 text-uppercase fs-13 text-light mix-diffrence lh-17">{{fgame.name}}</p>
              <p class="m-0 text-capitalize text-light mix-diffrence mb-4 lh-17">{{fgame.details}}</p>
              <div class="price text-light fs-13 mb-2">Starting at {{fgame.price}}</div>
              <div class="d-flex flex-wrap gap-10 mb-2 justify-content-center justify-content-sm-start">
                <a href="{% url 'gamePage' fgame.slug %}" class="d-flex align-items-center justify-content-center bg-white c-black rounded-1 btn-land">Buy Now</a>
                <form method="POST" class=" d-flex align-items-center justify-content-center text-light fs-13 text-uppercase wish rounded-1 btn-land t-duration">
                  {% csrf_token %}
                  <i class="fa-solid fa-circle-plus me-1 ms-4 ps-1"></i>
                  <input type="submit" name="{{fgame.name}}" value="ADD TO WISH LIST" class="h-100 bg-transparent">
                </form>
              </div>
            </div>
          </div>
          {% include 'parts/messages.html' %}
          {% for game in langames %}
          <div class="content overflow-hidden rounded-10 position-relative t-duration">
            <img src="{{game.banner.url}}" alt="Image" class="w-100 h-100 obj-cover">
            <div class="position-absolute h-100 bottom-0 px-4 pe-md-0 ms-1 card-landing d-flex flex-column justify-content-center">
              <img src="{{game.bannerLogo.url}}" alt="Image" class="mb-5 w-10 mt-3">
              <p class="m-0 mb-2 text-uppercase fs-13 text-light mix-diffrence lh-17">{{game.titile}}</p>
              <p class="m-0 text-capitalize text-light mix-diffrence mb-4 lh-17">{{game.details}}</p>
              <div class="price text-light fs-13 mb-2">Starting at {{game.price}}</div>
              <div class="d-flex flex-wrap gap-10 mb-2 justify-content-center justify-content-sm-start">
                <a href="{% url 'gamePage' game.slug %}" class="d-flex align-items-center justify-content-center bg-white c-black rounded-1 btn-land">Buy Now</a>
                <form method="POST" class=" d-flex align-items-center justify-content-center text-light fs-13 text-uppercase wish rounded-1 btn-land t-duration">
                  {% csrf_token %}
                  <i class="fa-solid fa-circle-plus me-1"></i>
                  <input type="submit" name="{{game.name}}" value="ADD TO WISH LIST" class="h-100 bg-transparent">
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
        <div class="col-lg-3 mt-2 mt-lg-0">
          <div class="content-items d-flex flex-lg-column flex-wrap gap-10 justify-content-between gap-10 h-100">
            <a href='{% url 'gamePage' fgame.slug %}' class="box p-2 d-flex t-duration rounded-10 pointer align-items-center w-100 active">
              <img src="{{fgame.logo.url}}" alt="image" class="rounded-10">
              <div class="text ms-3 text-capitalize">{{fgame.name}}</div>
            </a>
            {% for game in langames %}
            <a href='{% url 'gamePage' game.slug %}' class="box p-2 d-flex t-duration rounded-10 pointer align-items-center w-100">
              <img src="{{game.logo.url}}" alt="image" class="rounded-10 obj-cover">
              <div class="text ms-3 text-capitalize">{{game.name}}</div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Most Viewed -->
  <div class="most-view section-padding-top">
    <div class="container">
      <div class="section-title position-relative text-light text-uppercase w-fit bg-main mb-5">Most Viewed</div>
      <div class="row">
        {% for game in mostviews %}
        <a href='{% url 'gamePage' game.slug %}' class="col-lg-4 col-md-6 mb-3">
          <div class="box pointer">
            <div class="position-relative image-add">
              <img src="{{game.logo.url}}" alt="Image" class="img-fluid rounded-10 mb-2 w-100">
              <i class="fa fa-plus-circle position-absolute c-black rounded-circle t-duration"></i>
            </div>
            <div class="text">
              <div class="c-gray fs-13 text-capitalize">{{game.features}}</div>
              <div class="text-capitalize">{{game.titile}}</div>
              <div class="text-capitalize">{{game.price}}</div>
            </div>
          </div>
        </a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- End Most Viewed -->
  <!-- Start Trending -->
  <div class="trending section-padding-top">
    <div class="container">
      <div class="section-title position-relative text-light text-uppercase w-fit bg-main mb-5">Trending</div>
      <div class="d-flex align-items-center flex-wrap gap-10 justify-content-center justify-content-xl-between">
        {% for game in trend %}
        <a href='{% url 'gamePage' game.slug %}' class="card-magic position-relative t-duration pointer position-relative">
          <div class="wrapper t-duration h-100">
            <img src="{{game.logo.url}}" alt="image" class="w-100 h-100 obj-cover">
          </div>
          <img src="{{game.bannerLogo.url}}" alt="image" class="img-fluid position-absolute title translate-middle-x start-50 t-duration">
          <img src="{{game.character.image.url}}" alt="image" class="position-absolute bottom-0 charcter translate-middle-x start-50 t-duration w-100 h-100 obj-contain d-none d-md-block">
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- End Trending -->
  <!-- Start Gallary -->
  <div class="gallary section-padding-top d-none d-md-block">
    <div class="container-fluid">
      <div class="container">
        <div class="section-title position-relative text-light text-uppercase w-fit bg-main mb-5">Gallary</div>
      </div>
      <div class="carousel-content position-relative">
        <ul class="carousel-parent">
          {% for gallery in gallery %}
          <li>
            <div class="show-img position-absolute w-100 h-100 top-0 start-0 pointer"></div>
            <img src="{{gallery.image.url}}" alt=" image">
          </li>
          {% endfor %}
        </ul>
        <div class="buttons-carousel position-absolute start-50 translate-middle d-flex align-items-center justify-content-between justify-content-md-around">
          <button class="prev bg-main pointer t-duration position-relative border-0" title="prevCarousel"></button>
          <button class="next bg-main pointer t-duration position-relative border-0" title="nextCarousel"></button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Gallary -->
  <!-- Start Most Poupler -->
  <div class="most-poupler section-padding-top">
    <div class="container">
      <div class="section-title position-relative text-light text-uppercase w-fit bg-main mb-5">Most Poupler</div>
      <div class="row justify-content-center">
        <a href='{% url 'gamePage' mostpop.slug %}' class="col-md-4 mb-3 mb-md-0 ps-md-0">
          <div class="position-relative d-flex flex-column justify-content-end main-part pointer">
            <div class="position-absolute w-100 h-100 start-0 top-0">
              <img src="{{mostpop.logo.url}}" alt="image" class="w-100 h-100 obj-cover">
            </div>
            <div class="text position-relative p-4">
              <div class="fs-13 text-capitalize" style="color: rgba(245, 245, 245, 0.6);">{{mostpop.features}}</div>
              <div class="text-capitalize text-light">{{mostpop.name}}</div>
              <div class="d-flex mt-2">
                {% if mostpop.discount%}
                <div class="bg-main rounded-1 py-1 px-2 text-light fs-13 pointer me-2">-{{mostpop.discount}}%</div>
                <div class="text-uppercase me-2" style="color: rgba(245, 245, 245, 0.6);"><del>{{mostpop.price}} USD</del></div>
                <div class="text-uppercase text-light">{{mostpop.get_price_after_sale}}</div>
                {% else %}
                <div class="text-uppercase">{{mostpop.price}} USD</div>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
        <div class="col-md-8 row">
          {% for pop in pop %}
          <a href='{% url 'gamePage' pop.slug %}' class="col-lg-3 col-sm-6 mb-2">
            <div class="box pointer crad-game">
              <div class="position-relative image-add">
                <img src="{{pop.logo.url}}" alt="Image" class="w-100 h-100 obj-cover mb-2">
                <i class="fa fa-plus-circle position-absolute c-black rounded-circle t-duration"></i>
              </div>
                <div class="text">
                <div class="c-gray fs-13 text-capitalize">{{pop.features}}</div>
                <div class="text-capitalize text-truncate">{{pop.name}}</div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  {% if pop.discount %}
                  <div class="bg-main rounded-1 py-1 px-2 text-light fs-13 pointer me-2">-{{pop.discount}}%</div>
                  <div class="price">
                    <div class="text-uppercase c-gray me-2"><del>{{pop.price}} USD</del></div>
                    <div class="text-uppercase">{{pop.get_price_after_sale}} USD</div>
                    {% else %}
                    <div class="price">
                    <div class="text-uppercase">{{pop.price}} USD</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Most Poupler -->
  <!-- Start Most Poupler Charcters -->
  <div class="most-charcter-poupler section-padding-top">
    <div class="container">
      <div class="section-title position-relative text-light text-uppercase w-fit bg-main mb-5">Most Poupler Charcter Of games</div>
      <div class="row charcters">
        {% for chr in character %}
        <div class="col-xl-4 col-md-6 mb-3">
          <div class="box d-flex flex-column flex-md-row rounded-10 overflow-hidden h-100">
            <div class="image">
              <img src="{{chr.image.url}}" alt="image" class="img-fluid h-100 w-100 obj-cover">
            </div>
            <div class="text py-2 px-3 d-flex flex-column">
              <div class="font-weight-bold text-capitalize mb-2">{{chr.name}}</div>
              <div class="dec text-capitalize fs-13 mb-2 c-gray">{{chr.details}}</div>
              <div class="d-flex align-items-center justify-content-between mt-auto ">
                <a href="{% url 'char' chr.slug %}" class="bg-main rounded-1 py-1 px-2 text-light fs-13 pointer me-2 text-capitalize w-fit">read more</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- End Most Poupler Charcters -->
  <!-- Start More Games -->
  <div class="more-games section-padding-top section-padding-bottom">
    <div class="container">
      <div class="section-title position-relative text-light text-uppercase w-fit bg-main mb-5">More games</div>
      <div class="row">
        {% for game in games %}
        <a href='{% url 'gamePage' game.slug %}' class="col-lg-2 col-sm-4 col-6 mb-3">
          <div class="box pointer crad-game">
            <div class="position-relative image-add">
              <img src="{{game.logo.url}}" alt="Image" class="w-100 h-100 obj-cover mb-2">
              <i class="fa fa-plus-circle position-absolute c-black rounded-circle t-duration"></i>
            </div>
              <div class="text">
              <div class="c-gray fs-13 text-capitalize">{{game.features}}</div>
              <div class="text-capitalize text-truncate">{{game.name}}</div>
              <div class="d-flex align-items-center justify-content-between mt-2">
                {% if game.discount %}
                <div class="bg-main rounded-1 py-1 px-2 text-light fs-13 pointer me-2">-{{game.discount}}%</div>
                <div class="price">
                  <div class="text-uppercase c-gray me-2"><del>{{game.price}} USD</del></div>
                  <div class="text-uppercase">{{game.get_price_after_sale}} USD</div>
                  {% else %}
                  <div class="price">
                    <div class="text-uppercase">{{game.price}} USD</div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      
      </div>
    </div>
  </div>
  <style>
    .most-charcter-poupler .charcters .image img {
      height: 180px !important;
      object-fit: contain;
  }
    .most-view img {
      width: 100%;
      aspect-ratio: 1.7;
      object-fit: cover;
  }
  </style>
  <!-- End More Games -->
  {% endblock content %}