{% load static %}
<footer>
    <div class="container py-4">
    <div class="d-flex align-items-center justify-content-center justify-content-sm-between flex-column flex-sm-row">
      <div class="logo-brand d-flex align-items-center flex-column flex-sm-row gap-10 mb-3 mb-sm-0">
        <img src="img/logo-light.png" alt="">
        <span class="c-gray">&copy; For Son Salem</span>
      </div>
      <div class="social d-flex align-items-center gap-10 me-4 me-sm-0">
        <a href="https://web.facebook.com/salem.mamdouh.1257/">
          <img src="img/Facebook_f_logo_(2019).svg.png" alt="image">
        </a>
        <a href="https://www.instagram.com/salem.mamdouh.1257/">
          <img src="img/8e2a889fd455e2fb181f7f8f1407300e.webp" alt="image">
        </a>
        <a href="https://wa.me/201556617801">
          <img src="img/icons8-whatsapp-96.png" alt="image">
        </a>
        <a href="mailto:salemmamdouh77777@gmail.com">
          <img src="img/icons8-google-96.png" alt="image">
        </a>
        <a href="https://github.com/sonsalem">
          <img src="img/icons8-github-128.png" alt="image">
        </a>
        </a>
      </div>
    </div>
    </div>
  </footer>